* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

#app{
    height:100vh;
    background: #f23557;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/*Header Styles*/
header {
   text-align: center;     
   color: #f0d43a;
}

.heading {
    padding: 50px 0;
}

/* controller section styles */
.form-group {
    display: flex;
}

.form-group label {
    cursor: pointer;
}

.controller .zip-city {
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
}

.zip-city-btn {
    padding: 5px 20px;
    margin-left: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize;
    transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
    background: coral;
    color:white;
}

.zip-city-btn:active {
    background: chocolate;
    color: white;
}

/* Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

h1{
    font-size: 36px;
}

textarea{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    font-family: 'Oswald', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    font-family: 'Oswald', sans-serif;
} 